$color:rgba(0, 0, 0, .5);
$hover-color:#f5a623;
$bg-secondary-color: rgba(154, 195, 237, 0.5);
$secondary-color: #3d94dd;
$dark-blue: #1e394e;
$gray-color:#e3e3e7;
$white:#fff;
$black:#000;
$grid-width:114rem;
$gutter-vertical:5rem;
$gutter-horizontal:6rem;